<div class="container py-5">
  <h1>CompSoc Administration Backend</h1>
  
  <p>You are logged in!</p>

  <h2>Congratulations!</h2>

  <p>
    Good job on logging in to the system.
    The key you're looking for is here:
  </p>

  <p>
    <kbd>CSCTFFLAG[703c33b9]</kbd>
  </p>
</div>
